#about{
	clear: both;
	margin: 20px auto;
	padding: 20px;
}

	#about h1{
		font-size: 3em;
		margin: 15px;
	}

	#about h2{
		font-size: 1.5em;
		margin-bottom: 6px;
	}

	#outerbox{
		border: 1px solid #CCC;
		width: 100%;
		margin: 0 auto;
	}

	.box{
		padding: 10px;
	}

		.box p, .box li {
			margin-left: 5px;	
			font-family: Baskerville, Times, serif;
			font-size: 1.1em;
		}


		#longprofile{
			float: left;
			width: 45%;
		}

		#skills{
			float: left;
			width:45%;
			border-left: 1px solid #CCC;
		}


			.clear{
				clear: both;
			}	

		#resumes{
			border-top: 1px solid #CCC;
		}

		#socialmedia{
			
		}