#main{
	clear: both;
	text-align: center;
}

	#main h1{
		font-size: 4em;	
		margin: 20px;
		margin-bottom: 50px;
	}

	#project{
		margin: 0;
		padding: 0;
		width: 100px;
		height: 200px;
	}


		#project li{
			margin: 0;
			padding: 0;
			overflow: hidden;
			width: 190px;
			height: 164px;
			float: left;
		}

			#project li img{
				width: 170px;
				height: 160px;
				border: 2px solid #9D7C5B; 
			}

			#project li img:hover{
				cursor: pointer;
				border: 2px solid #C4A873;	
			}

	.bx-prev, .bx-next{
		background-position: 0 0;
		position: absolute;
		top: 70px;
		width: 35px;
		height: 35px;
		text-indent: -999999px;
	}

	.bx-prev{
		left: -55px;
		background: url(../img/left.png) no-repeat 0 0;
	}
		
	.bx-next{
		right: -50px;
		background: url(../img/right.png) no-repeat 0 0;
	}