#project{
	clear: both;
	width: 80%;
	margin: 0 auto;
}

	#project img{
		margin: 20px auto;
		display: block;
	}

	#project h1{
		font-size: 2em;
	}

	#project p{
		margin: 10px 0 10px 15px;
		line-height: 1.4em;
	}

		#project p a{
			font-weight: bold;
		}

		#project ul{
			margin-left: 35px;
		}

			#project ul li{
				list-style-type: circle;
			}