#project{
	clear: both;
	width: 80%;
	margin: 0 auto;
}

	#project img{
		margin: 20px auto;
		display: block;
	}

	#project h1{
		font-size: 2em;
		padding-bottom: 10px;
	}

	#project p{
		margin-left: 15px;
	}